body {
    font-family: "Inter", sans-serif;
}

* {
    scroll-behavior: smooth;
}

.small {
    line-height: 1.15rem;
}

.width-1 {
    width: 3rem;
    height: 3rem;
}

.width-3 {
    width: 7.5rem;
}

.img-bg {
    background-size: cover;
    height: 30rem;
}

.bg-fading {
    background: linear-gradient(to top, #212529, transparent);

}

.bg-glass {
    backdrop-filter: blur(1rem);
}

